---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Infrastructure from '../components/sections/Infrastructure.astro';
import Deployments from '../components/sections/Deployments.astro';
---

<Layout>
	<main id="main-content" class="site-main">
		<Hero />

		<Infrastructure />

		<Deployments />
	</main>
</Layout>
